#timer{
    background-image:linear-gradient(to right bottom,#bf9765cd,#a3d9d9d1),url(../imgs/kids_res.jpg) ;
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates;
}

#gallery-container{
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    padding-top: 5vh;
}

.card {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 20px;
    overflow: hidden;
    
}

.card-img {
    height: 600px;
    width: 338px;
    border-radius: 10px;
}

.card-text {
    height: 300px;
    text-align: center;
    width: 338px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 200px;
    color: snow;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    margin: 10px;
    font-size: 2vh;
    font-family: Montserrat Alternates;
    font-weight: bolder;
    text-shadow: 2px 2px #45858C;
}

p {
    margin: 20px;
    font-size: 12px;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-text {
    height: 200px;
    background-color: #a3d9d9d1;

}

.card:hover p {
    opacity: 1;
    visibility: visible;
    font-family: Montserrat Alternates;
}

.card:hover p .card-time {
    opacity: 1;
    visibility: visible;
    font-family: Montserrat Alternates;
}

.card:hover .card-img {
    transform: scale(1.1) rotate(-2deg);
    box-shadow: black;
    border-radius: 10px;
}

.hidden-text {
    visibility: hidden;
    opacity: 0;
    font-family: Montserrat Alternates;
}

.card-time {
    visibility: hidden;
    opacity: 0;
    font-family: Montserrat Alternates;
}

.card-container {
    position: relative;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    /* transform: translateX(-50%); */
    align-items: center;
    
    /* display: inline-block; */
    /* width: 70%; */

    /* margin: 0 auto; */

}