

#timer{
    position: absolute;
    display: table-column;
    top: 7.5vw;
    width: 100%;
    /* border: 2px solid #550375af;
    border-radius: 10px; */
    margin: 40px;
    /* background-color: rgba(137, 137, 137, 0.2); */
    opacity: 0.8;
    z-index: 1;
}

.figure{
    display: inline-block;
    border: 20px solid;
    padding: 30px 35px;
    border-radius: 50%;
    border-color: #45858cd5 #d92b04d2;
    font-family: 'Monoton', cursive;
    font-size: 70px;
    color: #D9C589;
    /* border-color: linear-gradient(to right bottom,#10a19cbd,#550375af); */
}
#days{
    padding: 50px 50px;
    transform: translateX(10px);
}

.time-border{
    display: inline-block;
    width: 190px;
    margin: 0 50%;
    transform: translateX(-50%);
    padding-bottom: 100px;
    font-size: 50px;
    text-align: center;
}
#days-border{
    display: inline-block;
    width: 300px;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);

}
.figure-label{
    font-size: 25px;
    font-weight: bolder;
    color: #F2CB05;
}


#days{

}
#hours{

}
#minutes{

}
#seconds{

}

.card-container {
    position: relative;
}

#index-text {
    position: relative;
}