.timer-container{

    padding: 30px 0;
    background-image: linear-gradient(to right bottom,#10a19cbd,#550375af), url(../imgs/visitors_res.jpg);
    background-position: top;
    background-size: 1560px;
    color: #ff6f00d4;
    border:2px solid #ffbf00df ;
    
}
.figure{
    display: inline-block;
    border: 12px solid;
    padding: 30px 35px;
    border-radius: 50%;
    border-color: #ffbf00df;
}

.time-border{
    display: inline-block;
    width: 140px;
    margin-left: 50%;
    font-size: 50px;
    text-align: center;
}
.figure-label{
    font-size: 30px;
}


#days{

}
#hours{

}
#minutes{

}
#seconds{

}