#timer{
    background-image:linear-gradient(to right bottom,#bf9765cd,#a3d9d9d1),url(../imgs/silhouette_res.jpg) ;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}
#gallery-container{
    margin: 0;
    padding: 0;
}

/* enter name button  */
    .btn-green{
        opacity: 1.0;

        background-image: linear-gradient(to left top,#bf9765cd,#a3d9d9d1);

        border-radius: 6px;
    }
    #enter-name-button {
        cursor: pointer;
        display: inline-block;
        /* make it adjustable to change width */
        font-size: 1.5rem;
        font-family: Montserrat Alternates;
        width: 80%;
        height: 80px;

        color: snow;
        border: #d92b04d2 solid;
        border-width:1px ;
        
        transition: all .3s;
        margin-top: 20px;
        margin-left: 10%;
        position:relative;
        
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
    }
    
    #enter-name-button:hover {
   
        background-image: linear-gradient(to left top,#a3d9d9d1, #bf9765cd);
        
        transform: translateY(-3px);
    }
    #enter-name-button:active{
        
        transform: translateY(-1px);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    }
    #enter-name-button::after{
        content: "";
        display: inline-block;
        width:100%;
        height:100%;
        position: absolute;
        border: groove #000000 solid;
        opacity: 1.0;


        background-image: linear-gradient(to left top,#bf9765cd,#a3d9d9d1);
        border-radius: 6px;
        top: 0px;
        left:0px;
        z-index:-1;
        transition: all .4s;
    }
    #enter-name-button:hover::after{
        transform: scale(1.4,1.4);
        opacity: 0;
    }

#welcomeLine 
    {
 
        color: black;
        line-height: 5vh;
        padding: 0px 21px;
        font-size: 1.5vh;
        font-family: 'Montserrat Alternates', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin-left: 15vh;
        margin-right: 10vh;
        text-align: left;
    }

#secretMessage
    {
        color: black;
        padding: 0;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        font-weight: lighter;
        font-style: italic;
        font-family: 'Montserrat Alternates', Courier, monospace;
    }

footer {
    text-align: center;
    font-size: 1.5vh;
    font-family: 'Montserrat Alternates';
    margin: 0;
    padding: 1vh 1vw 1vh 1vw;
    color: black;
    
}

#idonthavetimetorenamemyid{
    color: #FFFFFF;
    margin: 0px 10%;
    padding-bottom: 20px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Montserrat Alternates', Courier, monospace;
}