#timer{
    background-image:linear-gradient(to right bottom,#1008f0a5,#D9C589),url(../imgs/silhouette_res.jpg) ;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}
#gallery-container{
    margin: 0;
    padding: 0;
}

button 
    {
        width: 100%;
        margin: 20px auto 0;
        background-color: #45858C;
        border: 3px solid #D92B04;
        color: #D9C589;
        padding: 22px 22px 22px 22px;
        display: inline-block;
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 45px;
        transition-duration: 0.4s;
        /* float: inline-end; */
    }

#welcomeLine 
    {
        background-color: #A3D9D9 ;
        color: azure;
        line-height: 70px;
        padding: 0 21px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        margin-top: 25px;
    }

#secretMessage
    {
        color: #D94E8F;
        padding: 0;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        font-weight: lighter;
        font-style: italic;
        font-family: 'Courier New', Courier, monospace;
    }