* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat Alternates';
    color: snow;
}

.nav {
    background-color: snow;
    text-align: left;
    position: relative;
    font-size: 1.5vh;
    font-family: 'Montserrat Alternates';
    color: black;
    
}

#link {
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
    color: black;
}

#link:hover {
    background-color: #45858cca !important;
    color: #D9C589 !important;
}


.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: snow;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #a3d9d9b0;
}

.numbertext {
    color: snow;
    font-size: 12px;
    padding: 15px 25px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: snow;
}

.caption-container:hover {
    background-color: #a3d9d9b0;
}

#caption {
    font-size: 5vh;
    font-family: 'Sacramento', cursive;
    color: #45858C;
    margin: 6px;
}

#caption:hover {
    color: snow;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.text-index {
    position: relative;
    background-image:linear-gradient(to right bottom,#bf9765cd,#a3d9d9d1),url(../imgs/silhouette_res.jpg) ;
    background-size: 1920px;
    background-position: center;
    padding: 8px 16px 8px 16px;
}

#index-text-header  {
    font-family: 'Montserrat Alternates' !important;
    font-weight: bold;
    text-shadow: 2px 2px #45858C;
    color: snow;
    margin: 0;
    padding: 2vw 2vw 2vw 2vw;
}

#index-text {
    font-family: 'Montserrat Alternates' !important;
    font-weight: bold;
    color: snow;
    margin: 0;
    padding: 3vw 3vw 3vw 3vw;
}

/* moving content  */
#sticker {
    height: 80px;
    position: absolute;
    transition: all 0.3s;
    opacity: 0.7;
    z-index: 3;
}
#sticker:hover {
    height: 120px;
    position: absolute ;
}
#divAdvert {
    width: 1px;
    height: 1px;
    position: relative;
    left: 30px;
}

/* timer */
#timer{

    
    top: 7.5vw;
    width: 100%;

    margin: 40px;
    opacity: 0.8;
    z-index: 1;
}

.figure{
    display: inline-block;
    border: 20px solid;
    width: 240px;
    height: 240px;

    border-radius: 50%;
    border-color: #45858cd5 #d92b04d2;
    font-family: 'Monoton', cursive;

    font-size: 77px;
    text-align: center;
    color: #D9C589;
    text-shadow: 2px 2px #45858cd5;
}
.figure-data{
    font-size: 90px;
    margin-top: 30px;
    margin-left: 0px;
}

.time-border{
    display: inline-block;
    width: 120px;
    margin: 0 50%;
    transform: translateX(-50%);

    font-size: 50px;
    text-align: center;

}

.figure-label{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Montserrat Alternates';
    color: snow;
}

.cancel-margin{
    margin: 0 !important;
    padding: 0 !important;
}






@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(200px); 
    }

    80%{
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

footer {
    text-align: center;
    font-size: 1.5vh;
    font-family: 'Montserrat Alternates';
    margin: 0;
    padding: 1vh 1vw 1vh 1vw;
    color: black;
    
}