* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.gallery-container {

}

.slide-container {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    z-index: -1;
}

.mySlides {
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: azure;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.numbertext {
    color: azure;
    font-size: 12px;
    padding: 15px 25px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #A3D9D9;
    padding: 2px 16px;
    color: snow;
    font-family: 'Monoton';
    font-size: 1.75vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.card-container {
    display: flex;
    padding-top: 150vh;
}

.card {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 50;
    overflow: hidden;
}

.card-img {
    height: 600px;
    width: 338px;
    border-radius: 10px;
}

.card-text {
    height: 30px;
    text-align: center;
    width: 338px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 35px;
    color: snow;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    margin: 10px;
    font-size: 20px;
}

p {
    margin: 20px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-text {
    height: 150px;
    background-color: rgba(163, 217, 217, 0.85);

}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover .card-img {
    transform: scale(1.1) rotate(-2deg);
    box-shadow: black;
    border-radius: 10px;
}